.dashboard {
  color: white;
  background-color: white;
  height: 100%;
  min-height: 110vh;
  text-align: left;
}

.dashboardMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardMain {
  background: #1a1a1a;
  width: 80%;
  max-width: 500px;
  min-height: 500px;
  padding: 20px 5%;
  position: relative;
  margin: 10% 0 0 0;
}

.dashboardLogo {
  color: #c1ffe3;
  font-weight: 800;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0;
}

.dashboard h5 {
  padding: 5px;
  word-spacing: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.exit {
  position: absolute;
  bottom: 0;
  right: 5%;
  cursor: pointer;
}
