.noteContentTitle {
  color: deeppink;
  display: flex;
  overflow: hidden;
  text-align: left;
  font-weight: 800;
  align-items: center;
  padding: 20px 0 0 0;
  font-size: 20px;
  min-height: 50px;
  resize: none;
  margin: 20px 0 0 5%;
  background-color: white;
  border: 0;
  border-bottom: 1px solid black;
  width: 40%;
  outline: none;
}

.noteContent {
  background-color: white;
  resize: none;
}

.noteText {
  min-height: 500px;
  color: black;
  background-color: #C1FFE3;
  width: 90%;
  outline: none;
  padding: 5px;
  border: 0;
  resize: none;
  margin-top: 20px;
}

.notePageSave {
  width: 80px;
  height: 40px;
  background: #c1ffe3;
  color: black;
  margin: 0 5px;
}

.notePageEdit {
  width: 80px;
  height: 40px;
  background: white;
  color: black;
}
