* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: white;
  min-height: 100vh;
  margin: 0 15%;
}

.home .hello {
  font-size: 10px;
  margin: 40px 0;
  text-align: left;
  font-weight: 400;
}

.main .searchBar {
  border: 0;
  height: 50px;
  width: 100%;
  padding: 0 0 0 10px;
  outline: none;
  font-weight: 600;
  color: deeppink;
  background-color: #f5f6fc;
}

.loading {
  height: 50px;
  color: deeppink;
  background-color: black;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.cards-div {
  margin: 5px;
}

.footer {
  width: 70%;
  height: 80px;
  background-color: #f5f6fc;
  bottom: 0;
  z-index: 1;
  right: 0;
  margin: 0 15% 0 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 60px;
  margin: 20px;
}

.imgAdd {
  background-color: #C1FFE3;
  border-radius: 50%;
}


@media (max-width: 801px) {
  .main {
    padding: 0;
    margin: 0 5%;
  }
  .footer {
    width: 85%;
    margin: 0 7.5%;
    position: fixed;
  }
}
