* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: white;
  min-height: 100vh;
  margin: 0 15%;
}

.home .hello {
  font-size: 10px;
  margin: 40px 0;
  text-align: left;
  font-weight: 400;
}

.main .searchBar {
  border: 0;
  height: 50px;
  width: 100%;
  padding: 0 0 0 10px;
  outline: none;
  font-weight: 600;
  color: deeppink;
  background-color: #f5f6fc;
}

.loading {
  height: 50px;
  color: deeppink;
  background-color: black;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0 70px 0;
}

.cards-div {
  margin: 5px;
}

.imgAdd {
  background-color: #00bcf5;
  border-radius: 50%;
}

@media (max-width: 801px) {
  .main {
    padding: 0;
    margin: 0 5%;
  }
}
